@media (max-width: 767px) {
    
    /* Mobile Menu */
    .main-nav ul { 
        flex-direction: column; 
        text-align: center; 
    }
    .main-nav li { margin: 0.2rem 0; }
    
    /*text*/
    h1 { font-size: 2em; }
    h2 { font-size: 1.6em; }
    
    
    .hero-section, 
    .demographics, 
    .schedule-section, 
    .quick-facts {
        margin: 0.5rem; 
        padding: 1.5rem; 
    }
    
    /* photos */
    .profile-img { 
        width: 150px; 
        height: 150px; 
    }
    
    /*  table */
    table { 
        font-size: 0.9em; 
        overflow-x: auto; 
        display: block; 
        white-space: nowrap; 
    }
    
    /*  buttons */
    .nav-link { 
        padding: 1rem; 
        margin: 0.2rem; 
        font-size: 1.1em; 
    }
}